/* write your override styles here */
#wall .tag-1 {
    display: none;
  }

  div#wall #tag-3.slick.wicked {
    display: none;
  }

  #wall div#tag-2 {
    display: none;
  }

  #wall div#tag-4 {
    display: none;
  }

  div#wall div.parent div#tag-5.slick  {
    display: none;
  }

  /*
  div#wall .parent #tag-5.slick {
  background: url(../images/tag-5.png) no-repeat;
  z-index: 3;
  display: block;
}

div#wall div.parent div:last-child div#tag-6 {
  background: url(../images/tag-6.png) no-repeat;
  z-index: 2;
  display: block;
}

body div#wall div.parent div > #tag-7.slick {
  background: url(../images/tag-7.png) no-repeat;
  z-index: 1;
  display: block;
}
*/